html, body{
    height: 100%;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    font-family: sans-serif;
}

.header-link{
    margin-right: 0px;
    margin-left: auto;
    font-size: 13px;
    padding: 20px;
    margin-bottom: 20px;
}

.header-link > a, .advance-search-margin{
    text-decoration: none;
    color: black;
}

.header-link > a:hover, .advance-search-margin:hover{
    text-decoration: underline;
    color: black;
}

#image-link{
    margin-right: 25px;
}

.main{
    text-align: center;
    margin: auto;
    padding-bottom: 150px;
}

.Google-image{
    cursor: pointer;
    padding-bottom: 20px;
}

.search-bar{
    padding: 20px;
    width: 620px;
    position: relative;
}

.search-bar > .bar{
    border: 1px solid #DCDCDC ;
    border-radius: 50px;
    height: 45px;
    width: 100%;
    padding-left: 45px;
    padding-right: 50px;
    background-image: url("Search-Icon.png");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 15px 15px;
}

.search-bar > .image-search-right-padding {
    padding-right: 90px!important;
}

.image-search-button-blue{
    position: absolute;
    top: 29px;
    right: 35px;
    border: none;
    background: url(Blue-Search.png);
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
    outline: none;
}

.vertical-line{
    position: absolute;
    top: 25px;
    right: 60px;
}

.search-cross-padding{
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    background-color: transparent;
    outline: none;
}

.image-search-cross-padding{
    position: absolute;
    top: 28px;
    right: 75px;
    border: none;
    background-color: transparent;
    outline: none;
}

.search-bar > .bar:hover, .search-bar > .bar:focus{
    box-shadow: 0px 0px 8px #D3D3D3;
    outline: none;
}

@media only screen and (max-width: 640px){
    .search-bar{
        width: calc(100vw - 15px);
    }
}

.button{
    margin: 5px;
    border-radius: 5px;
    border: 1.5px solid white;
    color: #383838;
    background-color: #F8F8F8;
    cursor: pointer;
    font-size: 14.5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 8px;
    outline: none;
}

.button:hover{
    border-color: #D3D3D3;
}

.button:active, .button:focus{
    border-color: blue;
}

.advance-search-header-style{
    font-family: sans-serif;
    font-size: 13px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-between;
    padding: 15px!important;
}

.advance-image-margin{
    margin-left: 10px;
    margin-top: 5px;
}

.advance-search-margin{
    margin-right: 10px;
    margin-top: 5px;
}

.advance-search-title{
    padding-left: 40px!important;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #e60000;
    font-size: 20px;
    border-bottom: 1px solid #F0F0F0;
}

.S1{
    font-size: 17px;
    padding-left: 40px!important;
    padding-top: 20px;
    width: 100px;
}

.S2{
    font-size: 14px!important;
    font-weight: bold!important;
    color: #888888!important;
}

.S3{
    font-size: 14px!important;
    padding-left: 40px!important;
}

.S4{
    font-size: 11px!important;
}

.row-height-1{
    height: 30px;
}

.row-height-2{
    height: 60px;
}

.text-box{
    border: 1.5px solid #D3D3D3;
    outline: none;
    height: 30px;
    width: 50%!important;
    margin-top: -5px!important;
    font-size: 14px;
    padding: auto;
}

.text-box:active, .text-box:focus{
    border-color: dodgerblue;
}

.consolas-style{
    font-family: consolas;
}

.blue-botton-style{
    font-size: 12px!important;
    font-weight: bold!important;
    height: 32px!important;
    width: 130px!important;
    border-radius: 2px;
    border: 3px solid #267EE8;
    color: white;
    background-color: #267EE8;
    outline-width: thin;
    float: right;
    padding: auto;
}

.blue-botton-style:hover{
    background-color: #0B6FE6;
    border-color: #0B6FE6;
}

.blue-botton-style:active, .blue-botton-style:focus{
    border-color: white;
}